<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Performance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <h2>Descrizione Performance</h2>
      <h3>The dress of memory</h3>
      <p>Una performance teatrale di COMPAGNIA B</p>
      <p>
        <b>Direttore di produzione</b> Luca Sorrentino <br>
        <b>Direzione organizzativa</b> Elena Piseddu
      </p>

      <p>
        <b>Testo e regia</b> Alice Capitanio <br>
          <b>Assistente alla drammaturgia</b> Angelo Trofa <br>
          <b>Traduzione e adattamento</b> Wendell Ricketts <br>
          <b>Con</b> Nunzio Caponio e Chiara Effe  <br>
          <b>Musiche e brani originali</b> Chiara Effe <br>
          <b>Scena e costumi Sinforosa</b> (Salvatore Aresu e Noemi Tronza)
      </p>
      <p>
        Un uomo si accinge a fare un passo verso il vuoto, il futuro per lui è già precluso dalla
        guerra che lo attende. Prima di partire si attarda con la sua compagna, rapito dal fascino
        dei ricordi che il suo abito sprigiona. Il costume diventa il protagonista di episodi storici e
        di vicende personali: innamoramento, corteggiamento, matrimonio, lutto, fatti tragici o
        lieti, tutto ricamato e raccontato sulla stoffa, per comunicare ad altre donne e a tutto il
        paese il vissuto della propria vita. Ma quei ricami, segni, stoffe, simboli e colori, portano
        con sé vicende umane ed emotive, l&#39;estrinsecazione del proprio stato d&#39;animo e la poesia
        dell’esistenza. Un solo vestito durava tutta la vita, raccontava attraverso i suoi ricami la
        storia di ogni famiglia e dei suoi rapporti con la comunità, racchiudeva nei suoi ornamenti
        dolore, tenerezza, amore, gioie e dolori ma soprattutto ricordi.
      </p>
      <p>
        La performance avrà durata di 35 minuti. Al termine è prevista la possibilità per il pubblico
        di indossare alcuni pezzi dei costumi tradizionali della Sardegna.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-img src="assets/img/Performance1.jpeg" alt="Performance_1"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="assets/img/Performance2.jpeg" alt="Performance_2"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>
