<ion-header>
  <ion-toolbar>
    <ion-img class="logo-main" src="assets/img/loghi/b_logo.png" alt="logo"></ion-img>
    <div class="switchLanguage">
      <ion-img float-right class="flag" src="assets/img/ita-flag.png" (click)="selectIta()"></ion-img>
      <ion-img float-right class="flag" src="assets/img/eng-flag.png" (click)="selectEng()"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="auto" ngClass="{ ion-text-center: innerWidth < 500; }">
        <h1>{{"CONTACTS.B1" | translate }}</h1>
        <p class="p_body">email: <a href="mailto:info@compagniab.com">info@compagniab.com</a></p>
        <p class="p_body">{{"CONTACTS.P1" | translate }}: <a href="tel:+393939683141">+39 393 968 3141</a><br></p>
        <p class="p_body">{{"CONTACTS.P2" | translate }}: via Dante, 63c 09128 – Cagliari</p>
        <p class="p_body">{{"CONTACTS.P3" | translate }}: 03091480925</p>
        <p class="p_body">{{"CONTACTS.P4" | translate }}: 92121330929</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="12" class="justify-content-start">
        <p>{{"CONTACTS.B2" | translate }}</p>
        <p class="p_body"><a onclick="window.open('https://www.beltimentas.com', '_system', 'location=yes');" href="javascript:0">www.beltimentas.com</a></p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col  size="4">
        <ion-img class="credit" src="assets/img/loghi/compagniab_logo.png" alt="logo"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img class="credit" src="assets/img/loghi/por_logo.png" alt="logo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="3">
        <ion-img class="credit" src="assets/img/loghi/reg_sard_logo.png" alt="logo"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img class="credit" src="assets/img/loghi/rep_it_logo.png" alt="logo"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img class="credit" src="assets/img/loghi/ue_logo.png" alt="logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
