<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{"PROJECT.NAME" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <h4>{{"PROJECT.TITLE" | translate}}</h4>
            <p>{{"PROJECT.P1" | translate}}</p>
            <h4>{{"PROJECT.P2" | translate}}</h4>
            <p>{{"PROJECT.P3" | translate}}</p>
            <p>
                <b>{{"PROJECT.B1" | translate}}</b> {{"PROJECT.P4" | translate}}</p>
            <p>
                <b>{{"PROJECT.B2" | translate}}</b>{{"PROJECT.P5" | translate}}
            </p>
        </ion-col>
    </ion-row>
</ion-content>

​

​

​
