<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Progetto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <h4>Il progetto</h4>
            <p>Beltimentas è un format creativo che propone un nuovo punto di vista sul patrimonio identitario sardo
                legato all’abbigliamento e al costume. Propone una fruizione contemporanea della tradizione,
                in una prospettiva che intreccia arte, artigianato, design e tradizione etnoantropologica.
                Utilizza i linguaggi sperimentali dell’arte, del teatro e della fotografia per valorizzare i caratteri
                etnoantropologici che animano la produzione culturale sarda.
                Il progetto è frutto del lavoro e della passione di artigiani e designer che attraverso i loro prodotti
                hanno interagito con curatori, registi, fotografi e attori per portare le suggestioni
                artistiche d’avanguardia dell’isola in tutto il mondo.</p>
            <h4>Come si compone il progetto Belimentas:</h4>
            <p> Nei paesi ospitanti verrà allestita una curata mostra fotografica e presentata una breve performance
                teatrale accompagnata da un’esperienza partecipativa.
            </p>
            <p>
                <b>Il reportage fotografico</b> che verrà esposto a firma di due fotografi internazionali valorizza gli
                elementi artistici del designisolano, dalle forme, tessuti, pattern della tradizione alle
                interpretazioni innovative e alle contaminazioni con la contemporaneità.</p>
            <p>
                <b>La performance</b>
                The dress of memories è una performance teatrale che accompagnerà l’esposizione. Un romantico viaggio in
                cui il protagonista invisibile di una storia d’amore sarà l’abito femminile e la sua funzione sociale
                nella Sardegna antica. Una fiaba teatrale e musicale in cui i costumi, i ruoli sociali, la vita
                quotidiana e familiare emergono attraverso il ruolo degli abiti tradizionali. Al termine della
                performance teatrale il pubblico potrà interagire coi costumi, toccando, annusando e vestendo gli abiti
                tradizionali sardi, al fine di creare un coinvolgimento emotivo e sensoriale dello spettatore.
            </p>
        </ion-col>
    </ion-row>
</ion-content>

​

​

​
