<ion-header>
  <ion-toolbar>
    <ion-img class="logo-main" src="assets/img/loghi/b_logo.png" alt="logo"></ion-img>
    <div class="switchLanguage">
      <ion-img float-right class="flag" src="assets/img/ita-flag.png" (click)="selectIta()"></ion-img>
      <ion-img float-right class="flag" src="assets/img/eng-flag.png" (click)="selectEng()"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h4>Cosingius</h4>

      <a onclick="window.open('https://www.cosingius.net/', '_system', 'location=yes');" href="javascript:0">cosingius.net</a>

      <p>Via Carlo Sanna 235 <br>

      Senorbì (CA) <br>

      Telefono: +39 3493526376 <br>

      Email: <a href="mailto:info@cosingius.net">info@cosingius.net</a></p>

    </ion-col>
    <ion-col>
      <h4>Costumenes</h4>

      <a onclick="window.open('https://www.costumenes.com/', '_system', 'location=yes');" href="javascript:0">costumenes.com</a>

      <p>Via Lamarmora 75 <br>

      Nuoro <br>

      Telefono: 0784 232492 <br>

      Cell: 328 6918429 <br>

      Email: <a href="mailto:busiomargherita@tiscali.it">busiomargherita@tiscali.it</a>

      </p>

    </ion-col>
    <ion-col>

     <h4>Feelu</h4>

      <a onclick="window.open('https://www.feelu.it/', '_system', 'location=yes');" href="javascript:0">feelu.it</a>

      <p>ORFEVRE di R. Manconi <br>

      Via Isola di Tavolara 21 <br>

      Cagliari <br>

      Email:  <a href="mailto:busiomargherita@tiscali.it">busiomargherita@tiscali.it</a>
      </p>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h4>Maria Luisa Frongia</h4>

      <p>Costumi sardi e ricami <br>

      Via Manno, 17 <br>

      Samugheo (OR) <br>

      Telefono: +39 0783 64849 <br>

      + 39 346 2100772 <br>

      Email: <a href="mailto:raimondopitzalis@yahoo.it">raimondopitzalis@yahoo.it</a>
      </p>

    </ion-col>
    <ion-col>
      <h4>Istimentos</h4>

      <a onclick="window.open('https://www.istimentos.it/', '_system', 'location=yes');" href="javascript:0">www.istimentos.it</a>

      <p>Località Turruia <br>

      Zona Industriale di Samugheo (OR) <br>

     Telefono: +39 0783 64524
      Email: <a href="mailto:info@istimentos.it">info@istimentos.it</a> <br>

      </p>

    </ion-col>
    <ion-col>

      <h4>Fabrizio Loi</h4>

      <a onclick="window.open('https://www.fabrizioloi.it/', '_system', 'location=yes');" href="javascript:0">www.fabrizioloi.it</a>

     <p> Via Cagliari, 17

      Iglesias (CI) <br>
      Tel: +39 0781 876155 <br>
      Cell: +39 347 1426687 <br>
       Email:  <a href="mailto:info@fabrizioloi.it">info@fabrizioloi.it</a>
     </p>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h4>Sartoria Modolo</h4>

      <a onclick="window.open('https://www.sartoriamodolo.com', '_system', 'location=yes');" href="javascript:0">www.sartoriamodolo.com</a>

      <p>Corso Garibaldi, 141 <br>

      Orani (NU) <br>

      Tel: +39 078474990 <br>

      Cell: +39 3923400529 <br>

      Email: <a href="mailto:info@sartoriamodolo.com">info@sartoriamodolo.com</a>
      </p>

    </ion-col>
    <ion-col>

      <h4>Giancarlo Moi</h4>

      <a onclick="window.open('https://www.sardegnagioielli.com', '_system', 'location=yes');" href="javascript:0">www.sardegnagioielli.com</a>

      <p>Laboratorio orafo <br>

      Via Pigliaru 6 <br>

      Barisardo (NU) <br>

      Tel: +39 078229236 <br>

        Email: <a href="mailto:sardegnagioielli@gmail.com">sardegnagioielli@gmail.com</a>
      </p>

    </ion-col>
    <ion-col>

    <h4>Sorelle Podda</h4>

      <a onclick="window.open('https://www.sartoriasorellepodda.it', '_system', 'location=yes');" href="javascript:0"> www.sartoriasorellepodda.it</a>

      <p>Via Roma, 240/D <br>

      Muravera (CA) <br>

      Tel: +39 070 9930983 <br>

      Cell: +39 348 3828035 <br>

      Email: <a href="mailto:sartoriapodda@gmail.com">sartoriapodda@gmail.com</a> <br>

      Facebook: Sartoria Sorelle Podda
      </p>

    </ion-col>
  </ion-row>
</ion-content>
