<ion-header>
  <ion-toolbar>
    <ion-img class="logo-main" src="assets/img/loghi/b_logo.png" alt="logo"></ion-img>
    <div class="switchLanguage">
      <ion-img float-right class="flag" src="assets/img/ita-flag.png" (click)="selectIta()"></ion-img>
      <ion-img float-right class="flag" src="assets/img/eng-flag.png" (click)="selectEng()"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h4>Cosingius</h4>

      <a onclick="window.open('https://www.cosingius.net/', '_system', 'location=yes');" href="javascript:0">cosingius.net</a>

      <p>Via Carlo Sanna 235 <br>

      Senorbì (CA) <br>

      tel +39 3493526376 <br>

      mail <a href="mailto:info@cosingius.net">info@cosingius.net</a></p>

    </ion-col>
    <ion-col>
      Costumenes

      www.costumenes.com

      Via Lamarmora 75

      Nuoro

      tel. 0784 232492

      cell. 328 6918429

      mail busiomargherita@tiscali.it

    </ion-col>
    <ion-col>

      Feelu

      www.feelu.it

      ORFEVRE di R. Manconi

      Via Isola di Tavolara 21

      Cagliari

      mail: info@feelu.it

    </ion-col>
    <ion-col>
      Maria Luisa Frongia

      Costumi sardi e ricami

      Via Manno, 17

      Samugheo (OR)

      Telefono: +39 0783 64849

      + 39 346 2100772

      Mail: raimondopitzalis@yahoo.it

    </ion-col>
    <ion-col>
      Istimentos

      www.istimentos.it

      Località Turruia

      Zona Industriale di Samugheo (OR)

      info@istimentos.it

      +39 0783 64524

    </ion-col>
    <ion-col>

      Fabrizio Loi

      www.fabrizioloi.it

      Via Cagliari, 17

      Iglesias (CI)
      tel +39 0781 876155
      cell: +39 347 1426687
      mail: info@fabrizioloi.it

    </ion-col>
    <ion-col>


      Sartoria Modolo

      www.sartoriamodolo.com

      Corso Garibaldi, 141

      Orani (NU)

      tel. +39 078474990

      cell. +39 3923400529

      mail info@sartoriamodolo.com

    </ion-col>
    <ion-col>



      Giancarlo Moi

      Laboratorio orafo

      www.sardegnagioielli.com

      Via Pigliaru 6

      Barisardo (NU)

      tel. +39 078229236

      mail sardegnagioielli@gmail.com

    </ion-col>
    <ion-col>


      Sorelle Podda

      www.sartoriasorellepodda.it

      Via Roma, 240/D

      Muravera (CA)

      tel +39 070 9930983 -

      +39 348 3828035

      mail sartoriapodda@gmail.com

      facebook Sartoria Sorelle Podda

    </ion-col>

  </ion-row>


</ion-content>
