<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-img class="resizeLogo" src="assets/img/logoBeltimentas.png"
				   alt="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <div class="ion-text-center">
          <h1>Arte, moda e tradizione in Sardegna</h1>
          <p>
            Nella cultura della Sardegna, l’abito della tradizione acquistava la forma di uno scrigno che racchiudeva nella sua tessitura i segni della storia e della vita di ciascuno. Ogni abito era capace di essere la fotografia del vissuto di colui che lo indossava. Taluni segni, talvolta imperscrutabili, si possono rinvenire nella comunicazione contemporanea legata alla moda, dove indossare un abito è diventato un modo per
            raccontare di sé attraverso veri e propri segni culturali differenziati. Ancora oggi c’è un lungo filo che unisce ogni trama dei nostri corpi.
          </p>
          <p>
            Un filo tessile che accoglie e avvolge. Contiene il corpo del bambino appena nato, il suo sviluppo in età adulta e lo accompagna fino alla morte.
            Essere vestiti, abbigliati, significa essere a contatto con gli altri, vestirsi è stato, ed è ancora, espressione di comunicazione non verbale, espressione del sotteso bisogno umano di empatia, di essere guardati, ascoltati, capiti finanche da uno sconosciuto che incontriamo per la strada.
            Un filo tessile univa le comunità della Sardegna antica ed è lo stesso che unisce gli uomini di oggi, avvolti nel bisogno di sentirsi meno soli.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center" [routerLink]="['/progetto']">
          <ion-img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Wikimedians_in_Taichung_Logo_Sample-2.svg"
                   alt="link_1"> </ion-img>
        </div>
        <h4>Progetto</h4>
      </ion-col>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center" [routerLink]="['/esibizione']">
          <img src="https://via.placeholder.com/250"
               alt="link_2">
        </div>
        <h4>Esibizione</h4>
      </ion-col>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center" [routerLink]="['/performance']">
          <img src="https://via.placeholder.com/250"
               alt="link_3">
        </div>
        <h4>Performance</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
