<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-img class="resizeLogo" src="assets/img/logoBeltimentas.png"
				   alt="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <div class="ion-text-center">
          <h1>Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate delectus dolorum, ea eveniet explicabo fuga itaque labore officiis praesentium, quaerat quas quibusdam quos saepe tempore vel voluptates. Animi, iure!</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center" [routerLink]="['/progetto']">
          <ion-img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Wikimedians_in_Taichung_Logo_Sample-2.svg"
                   alt="link_1"> </ion-img>
        </div>
        <h4>Progetto</h4>
      </ion-col>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center">
          <img src="https://via.placeholder.com/250"
               alt="link_2">
        </div>
        <h4>Test</h4>
      </ion-col>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center">
          <img src="https://via.placeholder.com/250"
               alt="link_3">
        </div>
        <h4>Title</h4>
      </ion-col>
      <ion-col class="ion-text-center" size="auto">
        <div class="ion-text-center">
          <img src="https://via.placeholder.com/250"
               alt="link_4">
        </div>
        <h4>Title</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
