.resizeLogo {
  width: 40%;
  position: relative;
  margin: 0 auto;
}

.resizeProjectImg {
  width: 250px;
  height: 250px;
  background-size:cover
}

.logo-main {
  height: 40px;
}

.switchLanguage {
  position: absolute;
  top: 15px;
  right: 10px;
}
