<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Esibizione</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <p>Beltimentas takes the photograph beyond the value of testimony and, by mixing reality and fiction, it
                gives life to a new truth nourished by desire.</p>

            <p>The seductive imaginary created by fashion photography makes the daily act of dressing to present oneself
                on the social scene something sublime. The codes of behaviour narrated by clothes are thus liberated
                from their original context and become symbols. Thanks to this transformation, 19th century and 21st
                century Sardinia merge and mix the stereotypes of identity in order to give value to a new contemporary,
                ever-evolving hybrid. The clothes, like symbolic prosthetics, and the poses, like the movement of the
                actors on a stage, create a new narrative thanks to Lucio Aru and Franco Erre’s look.
            </p>
            <p>
                Sardinia hence opens up to a time-line that fully embraces modernity, whilst at the same time conserves
                the roots of its secular knowledge. The clothes and accessories from the different communities involved
                in this voyage are presented under a light that valorizes without sanctifying, creating new narratives.
                Genre boundaries, generational trends, and the strong sense of belonging to a specific geographical area
                are lost and blended frame after frame. In this new context, nourished by codes of communication and by
                modern-day lifestyle, the quality of the textiles and decorations and of the craftsmanship are presented
                in all their glory acquiring a narrative power independent of the tales that have fed literature and the
                discovery of Sardinia in the last century. Beltimentas takes a potrait of a modern Sardinia beyond the
                confines of the seas, through a dialogue with the amazement of 19th century travellers to Sardinia, on a
                Grand tour in search of the exotic and elegant authenticity that was still pure compared to the ongoing
                industrial revolution. It does this by safeguarding the symbols and cultivating the knowledge with which
                we dress whilst respecting the pace and spirit of modern-day life. It merges the female code of a
                pleated skirt with the atmospheres of a large, minimalist-lined straw hat; it instills courage in
                women’s and men’s faces who boldly present themselves in a metaphysical theatre set; it bathes
                Mediterranean landscapes and rural architecture with the same exotic light. The orthodoxy of ethnography
                leaves room for interpretation, the game of representation begins and in turn invites the visitor to
                become the narrator moving through the suggestions hidden in the images. Clothes become an element of
                thought for a story, a direction of events. Poses enable us to infer relationships, friendships,
                seduction, strength of the group and insecurity of the individual and family hierarchy. Whether they be
                traditional clothes or the latest seasonal designs, they reveal the people and moods and desires that
                make up the story of an identity in continuous transformation.
            </p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition1.jpg" alt="Exibition_1"></ion-img>
        </ion-col>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition2.jpg" alt="Exibition_2"></ion-img>
        </ion-col>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition3.jpg" alt="Exibition_3"></ion-img>
        </ion-col>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition4.jpg" alt="Exibition_4"></ion-img>
        </ion-col>
    </ion-row>
</ion-content>
