<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{"EXHIBITION.NAME" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <p>{{"EXHIBITION.P1" | translate}}</p>
            <p>{{"EXHIBITION.P2" | translate}}</p>
            <p>{{"EXHIBITION.P3" | translate}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition1.jpg"></ion-img>
        </ion-col>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition2.jpg"></ion-img>
        </ion-col>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition3.jpg"></ion-img>
        </ion-col>
        <ion-col size="6">
            <ion-img src="assets/img/Exibition4.jpg"></ion-img>
        </ion-col>
    </ion-row>
</ion-content>
